<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>{{ title }}</title>
    <meta name="HandHeldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width , intitial-scale=1.0, viewport-fit=cover"/>
    <meta name="theme-color" content="5eb9d7"/>
    <link rel="shortcut icon" href="{{ url _for('static', filename='dist/img/favicon.png') }}" rel="stylesheet" type="image/x-icon"
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }} rel="stylesheet" type="text"
    <script src="https://kit.fontawesome.com/e3deaea31.js" crossorigin="anonymous"></script>
    <link href="https://font.googleapis.com/css?family=Poppins:200,300,500" rel="stylesheet"
</head>

<body class="{{ template }}">
<div class="container">
</div>
</body>
</html>